# Config file for sSMTP sendmail
#
# The person who gets all mail for userids < 1000
# Make this empty to disable rewriting.
root=support@beezzonline.com

# The place where the mail goes. The actual machine name is required no
# MX records are consulted. Commonly mailhosts are named mail.domain.com
mailhub=smtp.gmail.com:587
AuthUser=support@beezzonline.com
AuthPass=life$$bigga
UseSTARTTLS=YES
UseTLS=Yes

# Where will the mail seem to come from?
rewriteDomain=gmail.com

# The full hostname
hostname={{ inventory_hostname }}.beezzonline.com
FromLineOverride=YES

# Are users allowed to set their own From: address?
# YES - Allow the user to specify their own From: address
# NO - Use the system generated From: address
#FromLineOverride=YES
