{% raw %}[program:logstash_shipper] {% endraw %}

command={{ logstash_dir }}/bin/logstash-{{ logstash_version }}/bin/logstash -f {{ logstash_dir }}/etc/logstash.conf 
redirect_stderr=true
stdout_logfile={{ logstash_dir }}/logs/logstash.log
autostart = true
autorestart = true
{% raw %}environment=JAVA_OPTS="-server -XX:+UseCompressedOops"{% endraw %}
user=root
stopsignal=KILL
