# logstash basic configuration
# Define inputs
input {
    syslog {
        #debug => true
        host => "0.0.0.0"
        port => 5514
        type => "linux-syslog"
    }
    file {
        path => "/var/log/syslog"
        tags => "syslog"
        type => "syslog"
    }

{% if inventory_hostname in groups['nginx'] %}
    # gather logs of Nginx server and vhosts
    file {
        path => "/var/log/nginx/logs/*.log"
        tags => {% raw %}["access","nginx"]{% endraw %}
        codec => "json"
        type => "nginx"
    }
    file {
        path => "/var/log/nginx/logs/error*.log"
        tags => {% raw %}["error","nginx"]{% endraw %}
        codec => "json"
        type => "nginx"
    }
{% endif %}

{% if inventory_hostname in groups['elasticsearch'] %}
    # gather elasticsearch logs
    file {
        path => "/var/log/elasticsearch-*/logs/elasticsearch*.log"
        codec => "json"
        tags => {% raw %}["elasticsearch"]{% endraw %}
        type => "elasticsearch"
    }
{% endif %}

{% if inventory_hostname in groups['webservers'] %}

file {
    path => "/var/log/apache2/access*.log"
    type => "apache"
  }


file {
    path => "/var/log/apache2/error*.log"
    type => "apache"
    tags => "apache-error"
  }


{% endif %}



{% if inventory_hostname in groups['openerp'] %}
    # gather elasticsearch logs
    file {
        path => "/var/log/openerp-server.log"
        codec => "json"
        tags => "openerp"
        type => "openerp"
    }
{% endif %}

{% if inventory_hostname in groups['fail2ban'] %}
    # gather elasticsearch logs
    file {
        path => "/var/log/fail2ban.log"
        codec => "json"
        tags => {% raw %}["fail2ban"]{% endraw %}
        type => "fail2ban"
    }
{% endif %}

}



# Define outputs
output {

  redis { 
    host => {% raw %}["db01.beezzonline.com" ]{% endraw %} 
    data_type => "list" 
    batch => true
    key => "centralog" 
    workers => 4
    shuffle_hosts => true
  }
}

# end
