#!/bin/bash


Databases='{{ databases }}'
Servers=localhost
Backup_path={{ app_dir }}/{{ mongodb_dir }}/var/backup
Remote_backup_path=/opt/data/mongo/
Backup_server=backup-0
Retention=5
User='axags'
Passwd='digitalfactory'

#create backup path
if [ ! -d $Backup_path ]; then
mkdir $Backup_path
fi;

#clean up old backup
find $Backup_path -mtime +$Retention -exec rm -rf {} \;

#backup databases
for bases in $Databases
do
mongodump -h $Servers -d $bases --out $Backup_path/$bases_$(date +"%m-%d-%y")
ssh belisarius@$Backup_server << EOF find $Remote_backup_path +mtime +$Retention -exec rm -rf {} \;
EOF

tar -cvf $(date +"%m-%d-%y").tar.gz $Backup_path/$bases_$(date +"%m-%d-%y")
rsync -av $Backup_path/$bases_$(date +"%m-%d-%y") belisarius@$Backup_server:$Remote_backup_path
done


if [ $? == 0 ]; then
mail -s "Mongodb backup success" it-crowd+backup+mongo@axagroupsolutions.flowdock.com <<< " SUCCESS check log file  /opt/data/apps/mongodb/var/backup_log"
else 
mail -s "Mongodb backup failed" it-crowd+backup+mongo@axagroupsolutions.flowdock.com <<< " FAILED check log file /opt/data/apps/mongodb/var/backup_log"
fi
