#!/bin/bash
MONGO='mongo --username {{ adminuser }} --password {{ adminpasswd }} --port  {{ mongos_port }} admin --eval'
{% for user in users %}
created=$($MONGO "db.system.users.find({user:'{{ user.name }}'}).count()")
count=$(echo $created | awk '{print $8}')
if [ $count == '0' ]; then
$MONGO "db = db.getSiblingDB('{{ user.collection }}'),  db.createUser( { user: '{{ user.name }}' , pwd: '{{ user.passwd }}', roles: [ 'dbOwner', 'dbAdmin', 'readWrite'] } )"
else
$MONGO "db = db.getSiblingDB('{{ user.collection }}'),  db.updateUser(  '{{ user.name }}' ,{ pwd: '{{ user.passwd }}', roles: [ 'dbOwner', 'dbAdmin', 'readWrite'] } )"
fi
{% endfor %}



