# mongo.conf

#where to log
logpath={{ app_dir }}/{{ mongodb_dir }}/logs/mongod.log
logappend=true
# fork and run in background
fork = false
auth = false 
shardsvr = true
bind_ip = 127.0.0.1,{{ ansible_eth0["ipv4"]["address"] }}
port = {{ mongod_port }} 
dbpath={{ mongo_shard_data }}
keyFile={{ mongo_shard_data }}/secret
# Enable quota management
quota = true
quotaFiles = 8
smallfiles = true
# location of pidfile
pidfilepath = {{ mongo_shard_data }}/mongod.pid
replSet = rs0


