port = {{ mongos_port }} 
fork = false
configdb = {% for host in groups["mongod_cluster"] %}{{ host  }}:{{ mongo_config_port }}{% if not loop.last %},{% endif %}{% endfor %} 

bind_ip = 127.0.0.1,{{ ansible_eth0["ipv4"]["address"] }}
logpath = {{ app_dir }}/{{ mongodb_dir }}/logs/mongos.log
logappend = yes
keyFile={{ mongo_shard_data }}/secret
