{% if inventory_hostname in groups["mongod_cluster"] %}
{% raw %}[program:mongodbconfig]
{% endraw %}
command=/usr/bin/mongod -f {{ app_dir }}/{{ mongodb_dir }}/etc/mongod_config_serv.conf 
stdout_logfile={{ app_dir }}/{{ mongodb_dir }}/logs/%(program_name)s.log
stderr_logfile={{ app_dir }}/{{ mongodb_dir }}/logs/%(program_name)s-error.log
autorestart=true
user=sype
{% endif %}


{% if inventory_hostname in groups["mongos_router"] %}
{% raw %}[program:mongodbrouter]
{% endraw %}
command=/usr/bin/mongos -f {{ app_dir }}/{{ mongodb_dir }}/etc/mongos.conf 
stdout_logfile={{ app_dir }}/{{ mongodb_dir }}/logs/%(program_name)s.log
stderr_logfile={{ app_dir }}/{{ mongodb_dir }}/logs/%(program_name)s-error.log
autorestart=true
user=sype
{% endif %}


{% if inventory_hostname in groups["mongod_cluster"] %}
{% raw %}[program:mongodbdata]
{% endraw %}
command=/usr/bin/mongod -f {{ app_dir }}/{{ mongodb_dir }}/etc/mongod.conf
stdout_logfile={{ app_dir }}/{{ mongodb_dir }}/logs/%(program_name)s.log
stderr_logfile={{ app_dir }}/{{ mongodb_dir }}/logs/%(program_name)s-error.log
autorestart=true
user=sype
{% endif %}
