# /etc/mongodb_config.conf
# mongod configdb server config file
fork = false
port = {{ mongo_config_port }} 
dbpath = /opt/data/apps/mongodb/mongo_config_data
configsvr = true
logpath = {{ app_dir }}/{{ mongodb_dir }}/logs/mongodb_config.log
keyFile={{ mongo_shard_data }}/secret
logappend = yes
