input {
file {
        path => "{{ data_dir }}/nginx/logs/*.log"
        sincedb_path => "{{ app_dir }}/{{ logstash_dir }}/db/nginx-access.db"
        tags => ["access","nginx"]
        codec => json
        type => "nginx"
    }
file {
        path => "{{ app_dir }}/nginx/logs/error*.log"
        sincedb_path => "{{ app_dir }}/{{ logstash_dir }}/db/nginx-error.db"
        tags => ["error","nginx"]
        codec => json
        type => "nginx"
    }


  file {
    path => [ "/var/log/*.log", "/var/log/messages", "/var/log/syslog" ]
    type => "syslog"
  }


  file {
    path => "/var/log/apache2/*access.log"
    type => "apache"
  }

 
filter {
  if [type] == "apache" {
    grok {
      pattern => "%{COMBINEDAPACHELOG}"
    }
  }
}

filter {
  if [type] == "nginx" {
    grok {
      pattern => "%{COMBINEDAPACHELOG}"
    }
  }
}

  file {
    path => [ "/var/log/syslog" ]
    type => "iptables"
  }

 
filter {
  if [type] == "iptables" {
    grok {
      patterns_dir => "/opt/logstash/logstash-1.4.0/patterns/ptables_patterns"
      pattern => "%{IPTABLES}"
    }
  }
}
}
 
output {
  # Check that the processed line matched against grok iptables pattern
  if !("_grokparsefailure" in [tags]) {
  redis { host => "web-serv01.beezzonline.com" data_type => "list" key => "centralog" }
   } 
}
