description     "supervisord"

start on runlevel [2345]
stop on runlevel [!2345]

limit nofile 32000 32000
limit core 0 10000
limit memlock unlimited unlimited

# loglevel is one of crit warn info(default) debug - check http://supervisord.org/logging.html#activity-log-levels
exec logger "starting supervisor service"
exec supervisord -c {{ app_dir }}/{{ supervisord_base_dir }}/etc/supervisord.conf --logfile {{ app_dir }}/{{ supervisord_base_dir }}/log/supervisord.log  --loglevel info --nodaemon
