# {{ ansible_managed }}

command[check_users]={{nagios_plugins_directory}}/check_users -w 5 -c 10
command[check_load]={{nagios_plugins_directory}}/check_load -w {{ansible_processor_vcpus*0.9}},{{ansible_processor_vcpus*0.7}},{{ansible_processor_vcpus*0.5}} -c {{ansible_processor_vcpus}},{{ansible_processor_vcpus*0.8}},{{ansible_processor_vcpus*0.6}}
command[check_zombie_procs]={{nagios_plugins_directory}}/check_procs -w 5 -c 10 -s Z
command[check_total_procs]={{nagios_plugins_directory}}/check_procs -w 150 -c 200
command[check_backup]={{nagios_plugins_directory}}/check_backup
command[check_disk1]={{nagios_plugins_directory}}/check_disk -w 20% -c 10% -p /
command[check_ufw]={{nagios_plugins_directory}}/check_ufw
command[check_cpu]={{nagios_plugins_directory}}/check_cpu -w 90 -c 98
command[check_apt]={{nagios_plugins_directory}}/check_apt
command[check_swap]={{nagios_plugins_directory}}/check_swap -w 20% -c 5%
command[check_memory]={{nagios_plugins_directory}}/check_memory -w 80 -c 90
command[check_home]={{nagios_plugins_directory}}/check_disk -w 20% -c 10% -p /home
command[check_all_mounted_disks]={{nagios_plugins_directory}}/check_disk -w 20% -c 10% -r ^/dev/
command[check_ntp]={{nagios_plugins_directory}}/check_ntp_time -H ntp -w'-1:1' -c'-3:3'
command[check_fail2ban]={{nagios_plugins_directory}}/check_fail2ban -p -w 1  -c 5  -P  /usr/bin/fail2ban-client
#command[check_mailq]={{nagios_plugins_directory}}/check_mailq -w $ARG1$ -c $ARG2$ -M postfix




 {% if inventory_hostname in groups['webservers'] %}

command[check_apache]=/usr/lib/nagios/plugins/check_apache
 {% endif %}






