object Host "{{ inventory_hostname }}" {
  /* Import the default host template defined in `templates.conf`. */
  import "generic-host"

  /* Specify the address attributes for checks e.g. `ssh` or `http`. */
  address = "{{ hostvars[inventory_hostname]['ansible_nodename'] }}.beezzonline.com"

  /* Set custom attribute `os` for hostgroup assignment in `groups.conf`. */
  vars.os = "Linux"

{% if inventory_hostname in groups['webservers']   %}
    vars.type = "webservers"
{%  endif %}

{% if inventory_hostname in groups['databases']   %}
    vars.type = "databases"
{%  endif %}



  vars.disks["disk /"] = {
    disk_partitions = "/"
  }

  /* Define notification mail attributes for notification apply rules in `notifications.conf`. */
  vars.notification["mail"] = {
    /* The UserGroup `icingaadmins` is defined in `users.conf`. */
    groups = [ "icingaadmins" ]
  }
}


{% for plugin in plugins_list %}
apply Service "{{ plugin }}" {
  import "generic-service"
  check_command = "nrpe"
  vars.nrpe_command = "{{ plugin }}"
  assign where host.name == "{{ inventory_hostname }}"
}

{% endfor %}



    apply Service "ftp" {
  import "generic-service"
  check_command = "ftp"
  assign where host.name == "{{ inventory_hostname }}"
    }


     apply Service "check_apache" {
  import "generic-service"
  check_command = "nrpe"
  vars.nrpe_command = "check_apache"
  assign where host.name == "{{ inventory_hostname }}"
}


/* Define http vhost attributes for service apply rules in `services.conf`. */
  vars.http_vhosts["http"] = {
    http_uri = "/"
  }


