# {{ ansible_managed }}
<VirtualHost {{ interfaces|default('*') }}:{{ port|default('80') }}>
{% if inventory_hostname in groups['devel'] %}
 ServerName dev.{{ site_name }}.{{ tld }}
{% endif %}

{% if inventory_hostname in groups['prod'] %}
    ServerName {{ site_name }}.{{ tld }}
{% endif %}

{% if inventory_hostname in groups['prod'] %}
    ServerAlias www.{{ site_name }}.{{ tld }}
{% endif %}
    DocumentRoot /var/www/{{ site_name }}
    <Directory /var/www/{{ site_name }}>
        AllowOverride All
#        Order allow,deny
        allow from all
    </Directory>
{% raw %}
LogFormat "{ \
            \"@timestamp\": \"%{%Y-%m-%dT%H:%M:%S%z}t\", \
            \"@version\": \"1\", \
            \"vips\":[\"{{ site_name }}\"], \
            \"tags\":[\"apache\"], \
            \"message\": \"%h %l %u %t \\\"%r\\\" %>s %b\", \
            \"clientip\": \"%a\", \
            \"duration\": %D, \
            \"status\": %>s, \
            \"request\": \"%U%q\", \
            \"urlpath\": \"%U\", \
            \"urlquery\": \"%q\", \
            \"bytes\": %B, \
            \"method\": \"%m\", \
            \"referer\": \"%{Referer}i\", \
            \"useragent\": \"%{User-agent}i\" \
           }" ls_apache_json
{% endraw %}

    CustomLog ${APACHE_LOG_DIR}/access_{{ site_name }}.json ls_apache_json
    ErrorLog ${APACHE_LOG_DIR}/error_{{ site_name }}.log
</VirtualHost>
