__author__ = 'pincemail'

from bitbucket.bitbucket import Bitbucket
bb = Bitbucket('{{ AdminUser }}','{{ AdminPassword }}','{{ site_name }}')
success, result = bb.repository.get('{{ site_name }}')
if success == False:
    bb.repository.create('{{ site_name }}')
else:
    print "already done"


