Listen {{apache_port}}

<IfModule mod_ssl.c>
    Listen {{apache_ssl_port}}
    NameVirtualHost *:{{apache_port}}
</IfModule>

<IfModule mod_gnutls.c>
    Listen {{apache_ssl_port}}
    NameVirtualHost *:{{apache_port}}
</IfModule>
