
SITENAME={{ site_name }}
SITEPATH=/var/www/{{ site_name }}/
SERVER_PLACE=prod
NOW=$(date +%Y%m%d%H%m%S)
URL_GIT=https://sype:gallis1780@github.com/sype/


if [ $USER != "root" ]
then
  echo "this script must be run as user root"
  exit 1
fi


cd ${SITEPATH}
echo $NOW
git stash
git pull origin master
git stash pop
git add -A .
git commit -m "${NOW}: auto-push ${SITENAME}-${SERVER_PLACE}"
git push ${URL_GIT}{{ site_name }}.git
