<?php
class JConfig {
	public $offline = '0';
	public $offline_message = 'Ce site est en maintenance.<br /> Merci de revenir ultérieurement.';
	public $display_offline_message = '1';
	public $offline_image = 'images/logo_addiskidan.png';
	public $sitename = '{{ site_name }}';
	public $editor = 'jce';
	public $captcha = '0';
	public $list_limit = '20';
	public $access = '1';
	public $debug = '0';
	public $debug_lang = '0';
	public $dbtype = 'mysql';
 {% if inventory_hostname in groups['devel']  %}
	public $host = '{{ DatabaseDevel }}';
{% endif %}
{% if inventory_hostname in groups['prod']  %}
        public $host = '{{ DatabaseProd }}';
{% endif %}
	public $user = '{{ user_name }}';
	public $password = '{{ password }}';
	public $db = '{{ database }}';
	public $dbprefix = '{{ prefixdb }}';
	public $live_site = '';
	public $secret = '{{ secret }}';
	public $gzip = '0';
	public $error_reporting = 'default';
	public $ftp_host = '127.0.0.1';
	public $ftp_port = '21';
	public $ftp_user = '';
	public $ftp_pass = '';
	public $ftp_root = '';
	public $ftp_enable = '0';
	public $offset = 'UTC';
	public $helpurl = 'http://help.joomla.org/proxy/index.php?option=com_help&keyref=Help{major}{minor}:{keyref}';
	public $mailer = 'mail';
	public $mailfrom = '{{ ContactMail }}';
	public $fromname = '{{ site_name }}';
	public $sendmail = '/usr/sbin/sendmail';
	public $smtpauth = '0';
	public $smtpuser = 'infra@beezzonline.com';
	public $smtppass = 'beezzonline1780';
	public $smtphost = 'smtp.gmail.com';
	public $smtpsecure = 'none';
	public $smtpport = '25';
	public $caching = '0';
	public $cache_handler = 'file';
	public $cachetime = '15';
	public $MetaDesc = '';
	public $MetaKeys = '';
	public $MetaTitle = '1';
	public $MetaAuthor = '1';
	public $MetaVersion = '0';
	public $robots = '';
	public $sef = '1';
	public $sef_rewrite = '0';
	public $sef_suffix = '0';
	public $unicodeslugs = '0';
	public $feed_limit = '10';
	public $log_path = '{{ WebRoot }}/enfantdev/{{ site_name }}/logs';
	public $tmp_path = '{{ WebRoot }}/enfantdev/{{ site_name }}/tmp';
	public $lifetime = '45';
	public $session_handler = 'database';
	public $MetaRights = '';
	public $sitename_pagetitles = '0';
	public $force_ssl = '0';
	public $feed_email = 'author';
	public $cookie_domain = '';
	public $cookie_path = '';
}
