server {
  {% for vhost in vhosts %}
  listen {{ vhost.name }}:80;
  server_name  {{ vhost.name }} {{ vhost.alias }} {% endfor %};
  access_log  /var/log/nginx/{{ site_name }}.access.log;
  error_log  /var/log/nginx/{{ site_name }}.error.log;
  location / {
    proxy_pass http://apache-pool;
    proxy_set_header Host $http_host;
    proxy_cache_valid 200 5h;
    proxy_cache_valid 404 500  1m;
    proxy_cache_use_stale error timeout invalid_header updating;
    proxy_cache staticfilecache ;
  }

{% if site_type == "joomla" %}
location ~* ^/(administrator|administrator/index.php)
    {
        add_header Cache-Control "no-cache";
        proxy_set_header Host $http_host;
        add_header Pragma "no-cache";
        proxy_pass http://apache-pool;
      #  proxy_cache_bypass $logged_in;
    }

{% elif site_type == "wordpress" %}

 # Don't cache these pages.
    location ~* ^/(wp-admin|wp-login.php)
    {
        add_header Cache-Control "no-cache";
        proxy_cache_use_stale error timeout invalid_header updating;
        add_header Pragma "no-cache";
        proxy_pass http://backend;
      #  proxy_cache_bypass $logged_in;
    }


{% endif %}

location ~* \.(js|css|jpg|jpeg|gif|png|svg|ico|pdf|html|htm|text/html)$ {
                proxy_pass http://apache-pool;
                proxy_cache staticfilecache ;
                proxy_cache_use_stale error timeout invalid_header updating;
                proxy_cache_valid 2d; 
                expires      max;
       }




}
