server {
  listen {{ ansible_eth0["ipv4"]["address"] }}:80;

  server_name {{ site_name }}.{{ tld }} www.{{ site_name }}.{{ tld }};
  access_log  /var/log/nginx/{{ site_name }}.access.log;
  error_log  /var/log/nginx/{{ site_name }}.error.log;
  location / {
    add_header X-Cache-Status $upstream_cache_status;
    proxy_pass http://apache-pool;
    proxy_cache_bypass $logged_in;
    proxy_cache_valid 200 5h;
    # Set the hostname
    proxy_set_header Host $host;
    # Let the Set-Cookie header through.
    proxy_pass_header Set-Cookie;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    expires 5m;

    # Don't cache these pages.
    location ~* ^/(settings.inc.php|config.inc.php)
    {
        add_header Cache-Control "no-cache";
        add_header Pragma "no-cache";
        proxy_pass http://backend_admin;
      #  proxy_cache_bypass $logged_in;
    }


  }

  location ~* \.(jpg|png|gif|jpeg|css|js|mp3|wav|swf|mov|doc|pdf|xls|ppt|docx|pptx|xlsx)$ {
                        # Cache static-looking files for 120 minutes, setting a 10 day expiry time in the HTTP header,
                        # whether logged in or not (may be too heavy-handed).
                        proxy_cache_valid 200 20h;
                        expires 864000;
                        proxy_pass http://apache-pool;
                      #  proxy_cache img;
        }


}
