# {{ ansible_managed }}
<VirtualHost *:8080>
	ServerAdmin webmaster@localhost

	DocumentRoot /var/www/{{ usname }}/public_html
	<Directory />
		Options -FollowSymLinks
		AllowOverride All
	</Directory>
	<Directory /var/www/{{ usname }}/public_html>
		Options -Indexes -FollowSymLinks -MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog /var/log/{{ usname }}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/{{ usname }}/access.log combined
</VirtualHost>
# {{ ansible_managed }}
