#/bin/bash
NOW=$(date +"%m-%d-%Y")
TABLES=$(mysql -u {{ useradmin }} -p {{ adminpassword }} -e"show databases")
for table in $TABLES; do  
mysqldump -u {{ useradmin }} -p {{ adminpassword }} $table > /opt/backup/$NOW/$tables.sql 
done
