# {{ ansible_managed }}
<VirtualHost {{ interfaces|default('*') }}:{{ port|default('80') }}>

{% for vhost in vhosts %}
{% if inventory_hostname in groups['devel'] and vhost.site_register == 'gandi' %} 
 ServerName dev.{{ vhost.name }}
{% endif %}

{% if inventory_hostname in groups['prod'] or vhost.env == 'devel'  %}
    ServerName  {{ vhost.name }} 
{% endif %}

{% if inventory_hostname in groups['prod'] or vhost.env == 'devel' %}
    ServerAlias {{ vhost.alias }} {{ site_name }}.beezzonline.com
{% endif %}
{% endfor %} 

    DocumentRoot {{ WebRoot }}/{{ site_name }}
    <Directory {{ WebRoot }}/{{ site_name }}>
        Options  FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
{% raw %}
LogFormat "{ \
            \"@timestamp\": \"%{%Y-%m-%dT%H:%M:%S%z}t\", \
            \"@version\": \"1\", \
            \"vips\":[\"{{ site_name }}\"], \
            \"tags\":[\"apache\"], \
            \"message\": \"%h %l %u %t \\\"%r\\\" %>s %b\", \
            \"clientip\": \"%a\", \
            \"duration\": %D, \
            \"status\": %>s, \
            \"request\": \"%U%q\", \
            \"urlpath\": \"%U\", \
            \"urlquery\": \"%q\", \
            \"bytes\": %B, \
            \"method\": \"%m\", \
            \"referer\": \"%{Referer}i\", \
            \"useragent\": \"%{User-agent}i\" \
           }" ls_apache_json
{% endraw %}

    CustomLog ${APACHE_LOG_DIR}/access_{{ site_name }}.json ls_apache_json 
    ErrorLog ${APACHE_LOG_DIR}/error_{{ site_name }}.log
</VirtualHost>
