
SITENAME={{ site_name }}
SITEPATH=/var/www/{{ site_name }}/
SERVER_PLACE=prod
NOW=$(date +%Y%m%d%H%m%S)
URL_GIT=git@bitbucket.org:sype/

if [ $USER != "sype" ]
then
  echo "this script must be run as user root"
  exit 1
fi


cd ${SITEPATH}
echo $NOW
git stash
git pull origin master
git stash branch local-changes
git add -A .
git commit -m "${NOW}: auto-push ${SITENAME}-${SERVER_PLACE}"
git checkout master
git merge --strategy=recursive --strategy-option=ours --no-edit local-changes
git branch -d local-changes
git push ${URL_GIT}{{ site_name }}.git
