#!/bin/bash



DATE=$(date +"%m-%d-%Y")
ARCHIVE=$(date +"%d-%m-%y" --date="-5 days ago")
BACKUPDIR=/opt/app/backup
BACKUPLOG=/opt/app/backup/backup/log
DATABASE=beezzonline2
CurrentUser=$(whoami)

if [ $CurrentUser != postgres ]; then
echo " Script must be run by postgres"
fi

if [ ! -d "$BACKUPDIR" ]; then
mkdir $BACKUPDIR
fi

if [ ! -d "$BACKUPLOG" ]; then
mkdir $BACKUPLOG
fi

pg_dump -Ft  -b $DATABASE >   $BACKUPDIR/dump-$DATABASE-$DATE.tar

curl -T $BACKUPDIR/dump-$DATABASE-$DATE.tar ftp://{{ FtpServer }} --user {{ AdminUser }}:{{ AdminPassword }}

curl ftp://{{ FtpServer }} --user {{ AdminUser }}:{{ AdminPassword }} -O --quote "DELE $BACKUPDIR/dump-$DATABASE-$ARCHIVE.tar"



if [[ $? -ne 0 ]]; then
	exit 1

else
	rm -rf $BACKUPDIR/dump-$DATABASE-$DATE.tar

fi


