upstream openerp {
    server front01.beezzonline.com:8069       ;
    server front02.beezzonline.com:8069 backup      ;
    server front03.beezzonline.com:8069 backup      ;
    server front04.beezzonline.com:8069 backup      ;
}

server {
    listen      {{ vip_ip }}:80 default;
    server_name erp.{{ organisation }}.com;
    root        /usr/share/nginx/html;
    index       index.html index.htm;
    add_header Strict-Transport-Security max-age=2592000;
    rewrite ^/.*$ https://$host$request_uri? permanent;


    # log files
    access_log  /var/log/nginx/openerp-{{ organisation }}.access.log;
    error_log   /var/log/nginx/openerp-{{ organisation }}.error.log;


    # proxy buffers
    proxy_buffers 16 64k;
    proxy_buffer_size 128k;

    ## default location ##
    location / {
        proxy_pass  http://openerp;
        # force timeouts if the backend dies
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_redirect off;

    }

    # cache some static data in memory for 60mins
    location ~* /web/static/ {
        proxy_cache_valid 200 60m;
        proxy_buffering on;
        expires 864000;
        proxy_pass http://openerp;
    }
}

