# {{ ansible_managed }}
input {
	 file {
		type => "linux-syslog" 
		path => ["/var/log/*","/var/log/messages", "/var/log/syslog"]
		exclude => [ "*.gz" ]
		codec => plain { charset => "ISO-8859-1" }
	}
       redis {
    host => "127.0.0.1"
    data_type => "list"
    key => "centralog"
    codec => json
  }
}

output {
  elasticsearch { bind_host => "127.0.0.1" }
}
# {{ ansible_managed }}
