{% raw %}[program:logstash]
{% endraw %}
#command=java -jar {{ app_dir }}/{{ logstash_dir }}/bin/logstash.jar agent -f {{ app_dir }}/{{ logstash_dir }}/conf/logstash.conf
command={{ app_dir }}{{ logstash_dir }}/bin/logstash -f {{ app_dir }}/{{ logstash_dir }}/etc/logstash.conf -l {{ app_dir }}{{ logstash_dir }}/log/logstash.log
redirect_stderr=true
stdout_logfile={{ app_dir }}{{ logstash_dir }}/log/logstash.log
autostart = true
autorestart = true
{% raw %}environment=ES_MIN_MEM="500m",ES_MAX_MEM="500m",ES_HEAP_SIZE="500m",ES_DIRECT_SIZE="128m",JAVA_OPTS="-server -XX:+UseCompressedOops",JAVA_HOME="{% endraw %}/usr/bin/java"
user={{ adminUser }}
stopsignal=KILL
